@import '@fontsource/poppins';
@import '@fontsource/inter';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p {
    @apply text-sm text-slate-300 mt-5 mb-2 leading-loose;
    @apply md:text-lg;
    @apply lg:text-xl;
  }
  li, a {
    @apply text-xs text-indigo-300 mt-2;
    @apply md:text-base;
    @apply lg:text-lg;
  }
  h1 {
    @apply text-3xl text-indigo-400 mt-2;
    @apply md:text-4xl mt-4;
    @apply xl:text-6xl mt-8;
  }
  h2 {
    @apply text-xl text-indigo-400 mt-8;
    @apply md:text-3xl mt-14;
    @apply xl:text-4xl mt-20;
  }
  h3 {
    @apply text-lg text-slate-200 mt-0;
    @apply md:text-xl mt-12;
    @apply xl:text-2xl mt-16;
  }
  h4 {
    @apply text-base text-indigo-300 mt-0;
    @apply md:text-lg mt-8;
    @apply xl:text-xl mt-6;
  }
  span {
    @apply text-xs text-white;
    @apply md:text-sm;
    @apply lg:text-base;
  }
  strong {
    @apply font-extrabold;
  }
  button {
    @apply text-xs my-2 mr-2 bg-transparent border-indigo-400 text-indigo-400 border rounded-full px-4 py-2 hover:bg-indigo-400 hover:text-white hover:border-indigo-400 transition duration-300 ease-in-out;
  }
}

html,
body {
	height: 100%;
  background-color: theme(colors.slate.950);
}

ul,
ol {
	padding-left: 10px;
  list-style-type: disc;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

p, ul, li {
  font-family: 'Inter', sans-serif;
}

li { 
  padding-left: 30px;
}

pre {
	padding: 1rem;
	border-radius: 8px;
	tab-size: 2;
  margin: 0.5rem 0rem 3.5rem 0rem;
}

:not(pre) > code {
  background-color: theme(colors.slate.800);
  color: white;
  padding: 0.3em;
  border-radius: 8px;
}

blockquote {
  margin: 1.8rem 0rem;
  padding: 1rem;
  border-radius: 12px;
  border-top: 6px solid theme(colors.indigo.600);
  background-color: theme(colors.indigo.900);
  opacity: 0.8;
}

.code-block-title {
  font-weight: bold;
  margin-top: 2em;
  color: theme(colors.slate.200);
}

.tier1 {
  font-weight: 900;
  background-color: navy;
  color: white;
  padding: 1px 4px;
  border-radius: 6px;
  border: 1px solid  navy;
}

.tier2 {
  font-weight: 900;
  background-color: royalblue;
  color: white;
  padding: 1px 4px;
  border-radius: 6px;
  border: 1px solid royalblue;
}

.tier3 {
  font-weight: 900;
  background-color: lightskyblue;
  color: black;
  padding: 1px 4px;
  border-radius: 6px;
  border: 1px solid lightskyblue;
}


figure {
  margin: 2rem;
}

figcaption {
  text-align: center;
  font-size: 10px;
  color: white;
}
pre {
  max-width: 100%; /* Set the max-width as per your layout */
  overflow-x: auto; /* Enable horizontal scrolling */
  padding: 1rem; /* Optional: Add some padding */
  border-radius: 8px; /* Optional: Add rounded corners */
}
code {
  position: relative;
}

.container-code {
  display: flex;
  width: 100%;
  margin: 0rem 0rem 3.5rem 0rem;
}